.page-header__logo{
    img{
        float: left;
    }
    &::after{
        display: inline-block;
        height: 36px;
        width: 36px;
        background: url('../images/tree.png') center no-repeat;
        background-size: contain;
        content: '';
    }
}