/* PAGE HEADER */
$page-header-border-size: 2px;
$page-header-border-color: #951F2B;

.page-header {
    margin-bottom: 30px;
    padding: 10px 0;
    background-color: $color-white;
    border-bottom: $page-header-border-size solid $page-header-border-color;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        flex-shrink: 0;

        img {
            display: block;
        }
    }

    &__search {
        display: none;

        @include media(tablet) {
            display: block;
        }
    }
}