/* PAGE HEADER */
.page-header {
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
    margin-bottom: 30px;
    padding: 10px 0;
    background-color: $color-white;
    border-bottom: 1px solid $color-gray;  
    box-shadow: 0 0 5px $color-gray;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
 
    &__logo {
        flex-shrink: 0;

        img {
            display: block;
        }
        
        &::after{
            content: 'BETA';
            padding: 0px 5px;
            background: $color-secondary;
            color: $color-white;
            text-decoration: none;
            border-radius: 3px;
        }
    }

    &__search {
        display: none;

        @media screen and (min-width: 800px) {
            display: block;
        }
    }
}