/* BASE */
$base-body-background:  #F5F4D7;

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    min-height: 100%;
}

html {
    font-size: 62.5%; // 62.5% z 16px = 10px
}

body {
   // @include rem(1.4); 
   font-size: pxToRem(14);

    font-family: 'Roboto', sans-serif; 
    background-color: $base-body-background;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: $color-secondary;
}

a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}
