$breakpoints: (
    small: 0,
    tablet: 800px,
    big: 1280px
);

$base-font-size: 10;

// colors 
$base-body-background:  #F5F4D7 !default;
$page-header-border-size: 2px !default;
$page-header-border-color: #951F2B !default;
$image-square-border-color-is-active: #951F2B !default;
$stories-box-border-color: #535233 !default;
$post-border-color: #535233 !default;

// content wrapper

